<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">
    <div class="form-group">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age" class="form-control"/>
        <br/>

        <div class="form-group">
            <label class="col-4 col-form-label">Roles: </label>
            <div class="col-8">
                <th:block th:each="role: ${roles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.getRole()}" th:value="${role.getId()}" class="m-2"/>
                </th:block>
            </div>
        </div>

        <br>
        <input type="submit" value="Add" class="btn btn-primary"/>
    </div>
</form>


</body>
</html>